/* JS 1.1 */
/* Stylesheet */

body{
    margin:0;
}

#dice{
    margin:40px;
    padding:20px;
    border:2px solid #000;
    border-radius:8px;
    width:20px;
    text-align:center;
    font-size:20px;
}